@import '../../global.scss';

.portfolioList{
	font-size: 14px;
	margin-right: 50px;
	padding: 0.7px;
	border-radius: 10px;
	cursor: pointer;
	color: #000;	
		
	&.active{
		background-color: $mainColor;
		color: #fff;
	}
}
